<!-- Conteúdo -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Filmes</h1>
</div>

<main role="main" class="tudo">
    <div class="container">
        <div class="card-deck mb-3 ">
            <cin-filme *ngFor="let filme of filmes" [filme]="filme"></cin-filme>
            
            <div *ngIf="filmes.length == 0">
                <h3 style="color: red">Não existem filmes nessa categoria!</h3>
            </div>
        </div>
    </div>
</main>