<!-- <div>
    <div class="image">
      <img src="assets/cartazes.jpg" alt="">
    </div>
    <div class="Planos">
      <div class="textos">
        <h1 >Bem Vindo</h1>
      </div>
      </div>
    </div>
  
  
  
  
  
   -->

   <div class="w3-row w3-padding-64">
    <div class="foto">
     <img class="image" src="assets/cartazes.jpg" alt="Table Setting">
    </div>
  <div class="Planos">
    <div class="textos">
      <h1 class="w3-center">Bem Vindo</h1><br>
      <h3 class="w3-center">Planos</h3>
    </div>
  </div>  
  </div>